body {
    background-color: black;
    color:rgb(30, 168, 30);
    font: courier;
}
h1 {
    color: rgb(30, 168, 30);
    text-align: center;
    border-style: solid;
    border-radius: 25px;
    border-color: grey;
    border-width: 9px;
    border-spacing: 25px;
    padding: 10px;
    font-size: 80px;
}
ul {
    padding-top: 40px;
}
h2 {
    font-weight: bold;
    padding-bottom: 20px;
    font-size: 25px;
    text-align: left;
}
h3 {
    font-size: 25px;
}
ol {
    padding: 50px;
    list-style-type: disc;
    list-style: disc;
}
img {
    size: 100%;
}